@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins.ttf");
}

@font-face {
  font-family: "Rahmuna";
  src: url("../public/fonts/Rahmuna.ttf");
}
